
<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">环保之路</h1>
       <p class="slogan">工业极大提高了我们的生活水平，然而不幸的是，它也产生了许多污染。
          <br />
          因此，我们赖以生存的世界需要有志于环境改善的您一同踏上环保之路。
          <br />
          以此为业的您，多少充满辛苦的喟叹，
          <br />
          在这里，我们不仅仅想为您找到一份工作，我们更希望为您找到一份价值!
       </p>
       <p class="lead">
         <%= link_to '加入同行', jobs_path, class: 'btn btn-success btn-lg' %>
       </p>
     </div>
   </div>
 </div>


<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading"><%= link_to("优质企业资源", jobs_path) %></h2>
        <p class="lead">我们提供优质的企业资源，让您踏上专业升级和价值升级之路</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading"><%= link_to("专业简历模板", "#") %></h2>
        <p class="lead">我们提供专业的简历模板，可以帮您轻松获得面试机会</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading"><%= link_to("专业分享论坛", "#") %></h2>
        <p class="lead">
          您可以在此分享工程经验，让伯乐迅速认出您
          <br />
          当然您也可以在此学习他人经验，这里是同行互助的平台
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<!--======== User Feedback =========-->
<section id="testimonial" class="talk-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
        <h2 class="section-title">用户反馈</h2>
        <div class="short-line"></div>
          <div id="talk-about-us" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#talk-about-us" data-slide-to="0" class="active"></li>
              <li data-target="#talk-about-us" data-slide-to="1" class=""></li>
              <li data-target="#talk-about-us" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <p><span class="thick">环保之路</span>助我在职业瓶颈期顺利实现了职业升级之路。</p>
                <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1ff57e6mt4zj306y06yq4m.jpg" alt="User 1" />
                <strong>Jack  净宇环保总工程师</strong>
              </div>
              <div class="item">
                <p><span class="thick">环保之路</span>提供的大量优质企业资源和专业简历模板，让我在五年前顺利找到了心仪的工作。</p>
                <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ff57fbukwzj306y06y40q.jpg" alt="User 2" />
                <strong>Anny  绿源环保水处理工程师 </strong>
              </div>
              <div class="item">
                <p><span class="thick">专业分享论坛</span>上集聚了大批优秀人才，我们在这里找到的专业骨干，助我公司连续三年跨越式发展。</p>
                <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff57fgui5aj306y06y760.jpg" alt="User 3" />
                <strong>Wilion  鸿景环保董事长兼总经理 </strong>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!--======== end User Feedback =========-->
